@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Helvetica Neue, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  font-weight: 400;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 30px;
  padding: 12px 20px;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  button {
    background-color: #f9f9f9;
  }
}
